[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "vendor/safetyhook"]
	path = vendor/safetyhook
	url = https://github.com/cursey/safetyhook
[submodule "vendor/zydis"]
	path = vendor/zydis
	url = https://github.com/zyantific/zydis
[submodule "vendor/cs2-sdk"]
	path = vendor/cs2-sdk
	url = https://github.com/scros22/cs2-universal-offsets/
